
<h2>Datos de cliente</h2>

<div>
    <h4>Alumno</h4>
    ID: <div>@ViewData["Id"]</div>
    Nombre: <div>@ViewData["Nombre"]</div>
    Apellido: <div>@ViewData["Apellido"]</div>
    Saldo: <div>@ViewData["Saldo"]</div>

</div>