
@{
    ViewBag.Title = "Cafeteria";
}
<h3>Bienvenido(a) @(Request.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest") - Esta es la sección de cafetería.</h3>
<div style="background-image:url(../FondosCafeteria/coffee-art-iphone-wallpaper-2560x1440.jpg);width:auto; height:auto">
    <div id="reader" style="width:300px; height:250px">

    </div>
    <p>
        Datos del QR: <input id="txtCodigo" type="text" name="" />
    </p>
</div>
<script>
    $(document).ready(function () {
        $('#reader').html5_qrcode(function (data) {
            $('#txtCodigo').html(data);
        },
            function (error) {
                $('#read_error').html(error);
            }, function (videoError) {
                //$('#vid_error').html(videoError);
                alert("No hay cámara");
            }
        );
    });

</script>

