
@{
    Layout = "~/Views/Shared/_plantillaReportesVenta.cshtml";
    ViewBag.Title = "KidsCoin | Reporte de Ventas";
    var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 15);
    grid.Pager(WebGridPagerModes.All);
}
<h2>Reporte de Ventas</h2>

<style type="text/css">
    /*Here we will add css for style webgrid*/
    .webgrid-table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        width: 100%;
        display: table;
        border-collapse: separate;
        border: solid 1px #98BF21;
        background-color: black;
    }

        .webgrid-table td, th {
            border: 1px solid #98BF21;
            padding: 3px 7px 2px;
        }

    .webgrid-header {
        background-color: #f1c4c4;
        color: #272130;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
    }

    .webgrid-alternating-row {
        background-color: #808080;
        padding: 3px 7px 2px;
    }
</style>

<div id="content">
    @grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: grid.Columns(
        //here i will add column for serial no
        // grid.Column(header: "Serial No", format:@<text><div>@(item.WebGrid.Rows.IndexOf(item) + 1)</div></text>),
        grid.Column(columnName: "IdVenta", header: "Folio"),
        grid.Column(columnName: "idCliente", header: "Numero de cliente"),
        grid.Column(columnName: "Cliente", header: "Nombre del cliente"),
        grid.Column(columnName: "Vendedor", header: "Nombre del Vendedor"),
        grid.Column(columnName: "DecrpVenta", header: "Descripción de venta"),
        grid.Column(columnName: "Monto", header: "Monto"),
        grid.Column(columnName: "Fecha", header: "Fecha de compra")))
</div>


