
@{
    ViewBag.Title = "Cafeteria";
}

<h2>Seccion de cafetería</h2>

<h3>Bienvenido @(Request.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest") - Esta es la sección de cafetería</h3>

