
@{
    ViewBag.Title = "KidsCoin";
    Layout = "~/Views/Shared/_myplantilla.cshtml";
}

<section class="services wrapper">
    <ul class="clearfix">
        <li class="animated wow fadeInDown">
            <img class="icon" src="@Url.Content("~/Content/Plantilla/")img/KidsCoin.jpg" alt="" />
            <span class="separator"></span>
            <h2>KidsCoin</h2>
            <p>
                Es un sistema con el cual los niños podrán tener acceso a dinero electrónico mediante una pulsera con un código qr, la cual contendrá la información suficiente para realizar la transacción.
            </p>
        </li>
        <li class="animated wow fadeInDown" data-wow-delay=".2s">
            <img class="icon" src="@Url.Content("~/Content/Plantilla/")img/seguridad.png" alt="" />
            <span class="separator"></span>
            <h2>Seguridad</h2>
            <p>El sistema esta pensado para utilizarse en instituciones académicas, de esta manera el dinero abonado al sistema, no podrá ser utilizado fuera de la institución.</p>
        </li>
        <li class="animated wow fadeInDown" data-wow-delay=".4s">
            <img class="icon" src="@Url.Content("~/Content/Plantilla/")img/paypal.png" alt="" />
            <span class="separator"></span>
            <h2>Sistema de cobro por Paypal</h2>
            <p>Todas las transacciones realizadas dentro del sistema utilizan paypal para realizar los cobros, con el propósito de no utilizar más el dinero en efectivo </p>
        </li>
    </ul>
</section><!--  End services  -->