
@{
    ViewBag.Title = "Servicios";
    Layout = "~/Views/Shared/_PlantillaServicios.cshtml";
}



<div class="row">
    <div class="col-md-8 col-md-offset-4 text-center">
        <h2> Bienvenido a la secci&oacute;n de Servicios escolares </h2>
    </div>
</div>